{% extends 'base.html.twig' %}

{% block body %}
    <div class="layout-container">
        {% include 'sidebar.html.twig' %}
        
        <div class="main-content">
            <h3>Courses list for {{ roadmap.titre | upper }} roadmap</h3>
            
            {% for msg in app.flashes('success') %}
                <div class="alert alert-success">{{ msg }}</div>
            {% endfor %}
            
            <h5 class="d-inline">Add a new course : </h5> 
            <a href="{{ path('crud.roadmap.courses.add', {id: roadmap.id}) }}" class="btn btn-success">New Course</a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Order</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                        <tr>
                            <td>{{ course.cours.id }}</td>
                            <td>{{ course.cours.titre }}</td>
                            <td>{{ course.cours.description }}</td>
                            <td>{{ course.ord }}</td>
                            <td>
                                <a href="{{ path('crud.course.edit', {id: course.cours.id}) }}" class="btn btn-primary text-light">Edit</a>
                                <form action="{{ path('crud.course.delete', {id: course.cours.id}) }}" method="post" style="display:inline;">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">No courses found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <style>
        .layout-container {
            display: flex;
        }
        
        .main-content {
            margin-left: 250px; /* Adjust this width based on your sidebar's width */
            padding: 20px;
            flex-grow: 1;
        }

        @media (max-width: 768px) {
            .layout-container {
                margin-left: 0; /* Removes the margin for small screens */
            }

            .main-content {
                padding: 15px;
            }
        }
    </style>
{% endblock %}
